---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Hero from "~/components/Hero.astro";
import { Picture, Image } from "astro:assets";
import Badge from "~/components/Badge.astro";
import Button from "~/components/Button.astro";
import ButtonCallUs from "~/components/ButtonCallUs.astro";
import Grid from "~/components/Grid.astro";
import Heading from "~/components/Heading.astro";
import WideImage from "~/components/WideImage.astro";
import ReviewSlider from "~/components/ReviewSlider.astro";

// Images
import CozyInside from "~/assets/images/cozy-inside.jpg";
import BakeOnRoll from "~/assets/images/new-york-roll-chocolate.jpeg";
import BakeOnCroissants from "~/assets/images/freshly-baked-croissants.jpg";
import Latte from "~/assets/images/latte.jpeg";
import AlmondCroissant from "~/assets/images/almond-croissant.jpeg";
import DecorativeImage from "~/assets/images/baked-goods-landscape.jpeg";
import BakeOnLogo from "~/assets/images/bake-on-logo.png";
import BakeOnSandwiches from "~/assets/images/bake-on-sandwiches.jpg";
import AutumnSpecial from "~/assets/images/2025_autumn_drinks_01.jpg";
import oooNewBaby from "~/assets/images/ooo-new-baby.jpg";
import YelpButton from "~/components/YelpButton.astro";
---

<Layout title="Home" pageTitle="Bake On" description="Welcome to our cafe!">
	<Section class:list={"bg-white"}>
		<Hero>
			<div
				slot="hero-content-left"
				class="prose max-w-none max-lg:order-1"
			>
				<Badge title="Our Goal: Perfect Coffee, Perfect Vibes" />
				<h1 class="font-semibold">
					Visit Bake On Cafe & Bakery in Oakville
				</h1>

				<p>
					Where the sunshine meets the perfect brew. Indulge in the
					warm, inviting atmosphere of our cafe, where every cup of
					coffee is crafted with care and every pastry is baked to
					perfection. Whether you're starting your day or taking a
					well-deserved break, Bake On is here to brighten your day
					with a splash of yellow, great flavors, and a cozy vibe.
				</p>

				<span class="text-brand-green font-medium"
					>✔ Find us on UberEats!</span
				>

				<div class="mt-8 flex items-center gap-x-8">
					<Button
						url="https://www.ubereats.com/ca/store/bake-on/lDGUq6zwVQaXi_zM81_gMw?srsltid=AfmBOoraggix6ruDr5Jz3Evx2C-riBlnsbOyvhTa5skfLvbqq9bj2tbf"
						target="_blank"
					>
						UberEats
					</Button>
					<ButtonCallUs />
				</div>
			</div>
			<div slot="hero-content-right" class="hidden md:block">
				<Picture
					class:list={"mx-auto"}
					src={BakeOnCroissants}
					height={600}
					formats={["avif", "webp"]}
					alt="Fresh batch of croissants!"
					loading={"eager"}
					fetchpriority={"high"}
				/>
			</div>
		</Hero>
	</Section>

	<WideImage
		image={DecorativeImage}
		alt="All our delicious baked goods!"
		class:list={"aspect-video lg:aspect-[16/6]"}
	/>

	<Section class:list={"bg-white"}>
		<Heading>
			<h2 slot="heading-title" class="font-black text-brand-green h2">
				Our dishes
			</h2>
			<p slot="heading-content">
				Discover our selection of freshly baked New York rolls and
				quality coffee, made with love and the finest ingredients.
			</p>
		</Heading>

		<Grid>
			<div slot="grid-content-1">
				<div class="flex flex-col items-center prose text-center">
					<Picture
						class:list={"not-prose w-full h-auto"}
						src={BakeOnRoll}
						formats={["avif", "webp"]}
						alt="New York Roll from Bake On."
					/>
					<h3 class="h4 mt-0 font-black">New York Rolls</h3>
					<p>
						New York rolls, filled with delicious, velvety cream,
						are a true indulgence. With their soft, slightly sweet
						dough and rich, creamy filling, these rolls offer the
						perfect balance of flavor and texture, making them a
						must-try treat for any occasion.
					</p>
				</div>
			</div>

			<div slot="grid-content-2">
				<div class="flex flex-col items-center prose text-center">
					<Picture
						class:list={"not-prose w-full h-auto"}
						src={Latte}
						formats={["avif", "webp"]}
						alt="A Latte from Bake On."
					/>
					<h3 class="h4 mt-0 font-black">Latte &amp; Coffee</h3>
					<p>
						Our lattes and coffee are crafted from premium Italian
						beans, offering an authentic and rich coffee experience.
						Each cup is brewed to perfection, delivering a smooth,
						full-bodied flavor with every sip. Whether you're
						enjoying a classic latte or a bold espresso, our coffee
						brings the true taste of Italy right to your cup.
					</p>
				</div>
			</div>

			<div slot="grid-content-3">
				<div class="flex flex-col items-center prose text-center">
					<Picture
						class:list={"not-prose w-full h-auto"}
						src={AlmondCroissant}
						formats={["avif", "webp"]}
						alt="A nice almond croissant."
					/>
					<h3 class="h4 mt-0 font-black">Croissants &amp; More!</h3>
					<p>
						Our croissants, scones, and cookies are baked to
						perfection using the finest ingredients. Each treat is
						crafted with care, offering a delightful balance of
						buttery flakiness, soft textures, and irresistible
						flavors. From the golden, flaky layers of our croissants
						to the warm, comforting scones and cookies, every bite
						is a delicious indulgence you won't want to miss.
					</p>
				</div>
			</div>
		</Grid>
	</Section>
	<Section class:list={"bg-amber-50"}>
		<Hero>
			<div
				slot="hero-content-left"
				class="prose max-w-none max-lg:order-1"
				id="specials"
			>
				<Badge color="green" title="specials" />
				<h2 class="font-black h2 my-4">Hello AUTUMN</h2>

				<span class="text-brand-green text-2xl font-bold italic"
					>Autumn your day!</span
				>

				<p>🍂 Hello BAKE ON family 🧸</p>
				<p>
					Our fall menu has finally arrived‼️ Now that summer has
					passed and the crisp autumn breeze is here, why not enjoy it
					with our new seasonal drinks?
					<li style="list-style: none;">
						1️⃣ Nutella & Hazelnut Cream Latte
					</li>
					<li style="list-style: none;">
						2️⃣ Banana-flavored Cream Matcha
					</li>
					<li style="list-style: none;">
						3️⃣ Macadamia Oat Latte – the nutty must-have of fall ✨
					</li>

					Lovingly crafted, just for you 🍁🍁
				</p>

				<div class="mt-8">
					<Button
						color="red"
						url="https://www.ubereats.com/ca/store/bake-on/lDGUq6zwVQaXi_zM81_gMw/7aceabe0-f62c-504b-b19d-3e74a2df8bab/6a1601a1-afdf-46fd-932b-610498967db5/2e39af0a-2905-4234-9bda-c5844c4cf14f"
						target="_blank">Order Now!</Button
					>
				</div>
			</div>
			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto"}
					src={AutumnSpecial}
					height={600}
					formats={["avif", "webp"]}
					alt="Delicious Christmas Cakes."
				/>
			</div>
		</Hero>
	</Section>

	<!-- Reviews -->
	<Section class:list={"bg-brand-green/20 relative"}>
		<div class="py-16">
			<Hero>
				<div slot="hero-content-left" class="prose max-w-none order-2">
					<div class="text-center not-prose">
						<Badge color="green" title="reviews" />
					</div>
					<h2
						slot="heading-title"
						class="font-black h4 text-center mt-0 mb-4"
					>
						What our customers say...
					</h2>
					<div slot="heading-content">
						<p class="text-center">
							Don't just take our word for it. Read what our
							customers have to say about their dining experience
							at our restaurant.
						</p>
						<ReviewSlider />
						<br />
						<a
							class="z-50"
							href="https://www.yelp.ca/biz/bakeon-bakery-and-cafe-oakville"
						>
							<span class={`inline-flex not-prose items-center`}>
								<YelpButton />

								<p class="ml-5">Check us out on Yelp!</p>
							</span>
						</a>
					</div>
				</div>

				<div slot="hero-content-right">
					<Picture
						src={BakeOnLogo}
						alt="Review authors"
						class="w-full h-auto"
					/>
				</div>
			</Hero>
		</div>

		<svg
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 1440 320"
			class="absolute h-40 w-full top-0 inset-x-0 rotate-180"
			preserveAspectRatio="none"
			><path
				fill="#ffffff"
				fill-opacity="1"
				d="M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
			></path>
		</svg>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 1440 320"
			class="absolute h-40 w-full bottom-0 inset-x-0"
			preserveAspectRatio="none"
			><path
				fill="#ffffff"
				fill-opacity="1"
				d="M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
			></path>
		</svg>
	</Section>

	<!-- Desserts -->
	<Section class:list={"bg-amber-50"}>
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none order-2">
				<Badge title="unique" />
				<h2
					slot="heading-title"
					class="font-black text-brand-green h2 my-4"
				>
					Sandwiches
				</h2>
				<div slot="heading-content">
					<p>
						Indulge in our hearty and satisfying sandwiches, each
						crafted with fresh, quality ingredients to satisfy your
						cravings. Whether you're in the mood for a classic egg
						salad or a flavorful croissant sandwich, our selections
						are sure to hit the spot.
					</p>

					<div class="mt-8">
						<Button url="/menu/">See our menu</Button>
					</div>
				</div>
			</div>

			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto"}
					src={BakeOnSandwiches}
					height={600}
					formats={["avif", "webp"]}
					alt="A description of my image."
				/>
			</div>
		</Hero>
	</Section>

	<!-- Contact -->
	<Section class:list={"bg-white"}>
		<Hero>
			<div id="hours" slot="hero-content-left" class="prose max-w-none">
				<Badge color="green" title="Hours + Location" />
				<h2
					slot="heading-title"
					class="font-black text-brand-green h2 my-4"
				>
					Drop by and say hello
				</h2>
				<div slot="heading-content">
					<table>
						<tr><th>Sunday</th><td>Closed</td></tr>
						<tr><th>Monday</th><td>7am - 4pm</td></tr>
						<tr><th>Tuesday</th><td>7am - 4pm</td></tr>
						<tr><th>Wednesday</th><td>7am - 4pm</td></tr>
						<tr><th>Thursday</th><td>7am - 4pm</td></tr>
						<tr><th>Friday</th><td>Temporarily Closed</td></tr>
						<tr><th>Saturday</th><td>Temporarily Closed</td></tr>
					</table>
					<p>
						Address: <a
							href="https://maps.app.goo.gl/xVGEVCWMz8bebBc48"
							target="_blank"
							>3075 George Savage Ave, Oakville, ON L6M 0Y9</a
						>
					</p>
					<p>
						We're located in North Oakville, on George Savage Avenue
						just off of Dundas. Our bakery & cafe is the perfect
						place to enjoy a delicious pastry with friends and
						family.
					</p>

					<span class="text-brand-green font-medium">
						✔ We also do take-away, so you can enjoy your food at
						home
					</span>

					<div class="mt-8">
						<Button
							color="green"
							url="https://www.instagram.com/__bake.on/"
							target="_blank">Follow us on Instagram!</Button
						>
					</div>
				</div>
			</div>

			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto"}
					src={CozyInside}
					height={600}
					formats={["avif", "webp"]}
					alt="Bake On's store front!"
				/>
			</div>
		</Hero>
	</Section>
</Layout>
