---
import "~/styles/tailwind.css";
import { ClientRouter } from "astro:transitions";
import Header from "~/components/Header.astro";
import Footer from "~/components/Footer.astro";
import { siteLang, themeColor } from "~/data/config";
const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
const url = canonicalUrl.href;
---

<!doctype html>
<html lang={siteLang}>
	<head>
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/themes/light.css"
		/>
		<script
			type="module"
			src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/shoelace-autoloader.js"
		></script>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="theme-color" content={themeColor} />
		<meta name="robots" content="index,follow" />
		<meta name="googlebot" content="index,follow" />
		<link rel="author" href="humans.txt" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="canonical" href={url} />
		<meta name="msapplication-TileColor" content="#ffffff" />

		<meta property="og:url" content={Astro.url} />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="/images/bake-on-logo.png" />
		<meta property="og:site_name" content="bakeon1" />
		<meta property="og:locale" content={siteLang} />

		<title>
			Oakville Bakery Cafe Bake On | Top Oakville Cafe | Cozy vibes
		</title>
		<meta
			property="og:title"
			content="Oakville Bakery Cafe Bake On | Top Oakville Cafe | Cozy vibes "
		/>
		<meta
			name="description"
			content="Cozy Oakville Cafe and Bakery selling New York Rolls, Matcha Lattes, and more!"
		/>
		<meta
			property="og:description"
			content="Oakvile Cafe and Bakery located at 3075 George Savage Ave, Oakville, ON L6M 0Y9. Find delicious baked goods like cream filled New York Rolls, Scones, Cookies and more! Also try our highly acclaimed lattes and coffees!"
		/>
		<ClientRouter />
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
